.custom-background-1{
    background: linear-gradient(90deg, #00D8D8 0%, #0A69C2 100%);

}
.custom-background-2{
    background: linear-gradient(90deg, #853DF2 0%, #14242B 100%);
    

}
.custom-background-3{
    background: linear-gradient(90deg, #590316 0%, #170840 69.1%, #170840 100%);


}
.custom-background-4{
    background: linear-gradient(90deg, #79D871 0%, #105318 100%);
   

}
.custom-background-5{
    background: linear-gradient(90deg, #33B6FF 0%, #10579B 100%);
    

}
.custom-background-6{
    background: linear-gradient(90deg, #9C1C56 0%, #3B051C 100%);


}
.custom-background-7{
    background: linear-gradient(90deg, #FCCC24 0%, #F87803 100%);


}
.custom-background-8{
    background: linear-gradient(90deg, #FF7538 0%, #460608 100%);


}
.custom-background-9{
    background: linear-gradient(90deg, #1645C2 0%, #030F24 100%);


}
.custom-background-10{
    background: linear-gradient(90deg, #FBD74D 0%, #A88D00 100%);
    

}